<% 
	content_for(:title, 'UTEFA | About Us') 
	content_for(:updateid, 'updates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "main">`
	<h1>About Us</h1>				
	<p>The Engineering Finance Association was formed in 2009, with Professor Lawryshyn and the founding members realizing the demand in financial knowledge from engineering students. The passion in investing and financial markets from our dedicated members have been the key driver to the club's growth today. By working closely with student members, we were able to deliver the quality education and investment performance.  In 2012-2013, our team aims to bring out the best efforts yet, to continue our strive for our passion in the financial markets.</p>
	<br></br>
	<h1>Our Team</h1>
	<div class = "face">
		<%=image_tag("face.jpg", :alt => "Michael Vinelli", :width=>"150") %>						
		<h3>President</h3>
		<h4>Michael Vinelli</h4>
	</div>
	
	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Peter Miszkiel") %>						
		<h3>VP Operations</h3>
		<h4>Peter Miszkiel</h4>
	</div>
	
	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Bill Li", :width=>"150") %>						
		<h3>VP External</h3>
		<h4>Bill Li</h4>
	</div>
				
	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Marko Damnjanovic", :width=>"150") %>						
		<h3>VP Internal</h3>
		<h4>Marko Damnjanovic</h4>
	</div>			
					
	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "David Belvedere", :width=>"150") %>						
		<h3>VP Finance</h3>
		<h4>David Belvedere</h4>
	</div>
	
	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Kelvin Xu", :width=>"150") %>						
		<h3>VP Research</h3>
		<h4>Kelvin Xu</h4>
	</div>


	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Japinder Nijjer", :width=>"150") %>						
		<h3>Head Analyst</h3>
		<h4>Japinder Nijjer</h4>
	</div>

	<div class = "face">						
		<%=image_tag("face.jpg", :alt => "Michael Lin") %>						
		<h3>VP Technology</h3>
		<h4>Michael Lin</h4>
	</div>
	
</div>
