<% 
	content_for(:title, 'UTEFA | Documents') 
	content_for(:updateid, 'updates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "main">`
	<h1>Company Analyses</h1>			
	<p>Here are a few examples of some companies we have analyzed in the past. These powerpoints provide a company's general description, key drivers, and overall trends - all from a qualitative perspective. We also take into account any major macroeconomical factors that can affect the company's industry. The presentations conclude with a buy/hold/ignore decision based on both the qualitative and quantitative (DCF) factors. If the decision is to buy/hold, an appropriate buy-in price is estimated based on the company's DCF evaluation.
	<ul>
		<li type=square class = "doc"><%= link_to "Cymer", "/documents/Cymer.pptx" %></li>
                <li type=square class = "doc"><%= link_to "Netflix", "/documents/Netflix.pptx" %></li>
                <li type=square class = "doc"><%= link_to "Yum! Brands, Inc", "/documents/Yum!\ Brands,\ Inc.pptx" %></li>
	</ul>
	<br></br>
	<h1>Discounted Cash Flow Analyses</h1>			
	<p>Our DCF Analyses are performed through a complex Excel spreadsheet. By looking at a company's previous financial statements, as well as a few financial ratios, we can forecast their future growth and estimate a suggested stock price. Using this evaluation method combined with our qualitative analyses, we initiate an informed investment decision.
	<ul>					
                <li type=square class = "doc"><%= link_to "Cymer DCF", "/documents/Cymer\ DCF.xlsx" %></li>
                <li type=square class = "doc"><%= link_to "Netflix DCF", "/documents/Netflix\ DCF.xlsx" %></li>
                <li type=square class = "doc"><%= link_to "Yum! Brands, Inc DCF", "/documents/Yum!\ Brands,\ DCF.xlsx" %></li>
	</ul>
</div>

				
