<% 
	content_for(:title, 'UTEFA | Home') 
	content_for(:updateid, 'mainpageupdates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "container"> 	
	<div id="example">
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"> <%=image_tag("slide-2.jpg", :alt => "Slide 2", :style => 'width="570" height="270"') %> </a>
					<div class="caption" style="bottom:0">
						<p>Caption</p>
					</div>
				</div>
				<div class="slide">
					<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"> <%=image_tag("slide-2.jpg", :alt => "Slide 2", :style => 'width="570" height="270"') %> </a>
					<div class="caption">
						<p>Caption</p>
					</div>
				</div>
			</div>
			<a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :style => 'width="24" height="43"') %></a>
			<a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :style => 'width="24" height="43"') %></a>
		</div>
		<%= image_tag("example-frame.png", :alt => "Frame", :style => 'width="739" height="341"', :id => "frame") %>					
	</div>	
</div>		

<div id = "main">`
		<h1>Heading 1</h1>				
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut"				
		<br></br>
		<h1>Heading 2</h1>				
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est"								
	
</div>