<% 
	content_for(:title, 'UTEFA | Home') 
	content_for(:updateid, 'mainpageupdates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "container"> 	
	<div id="example">
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<%=image_tag("DSCN0734.JPG", :alt => "Slide 1", :style => 'width="570" height="270"') %>
					<div class="caption">
						<p>Our Team</p>
					</div>
				</div>
                                <div class="slide">
                                        <%=image_tag("slide-1.jpg", :alt => "Slide 1", :style => 'width="570" height="270"') %>
                                        <div class="caption">
                                                <p>Join our club this fall! Learn more by attending our first meeting on September 17th from 6 to 8 pm in BA 1180</p>
                                        </div>
                                </div>
			</div>
			<a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :style => 'width="24" height="43"') %></a>
			<a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :style => 'width="24" height="43"') %></a>
		</div>
		<%= image_tag("example-frame.png", :alt => "Frame", :style => 'width="739" height="341"', :id => "frame") %>					
	</div>	
</div>		

<div id = "main">
		<h1>Welcome</h1>				
		<p>The University of Toronto Engineering Finance Association (UTEFA) is an educational organization designed to provide students with extensive knowledge about the financial industry. We believe the best way to learn, whether the student is an experienced investor or completely new to the stock market, is to take risks and to execute actual investments. The usage of real cash and interactive brokers shows our committment and seriousness to making smart, well-informed decisions. That is our philosophy.
		<br></br>
		<h1>Join Us</h1>				
		<p>Our meetings are hosted every Thursday at 8:00AM in WB215. Please email info@utefa.skule.ca for general inquiries. You can also sign up for our updates here: <a href ="https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dHl4cFpxbmZQeWlNaFlrUUVxTWJyZlE6MQ">Link</a>Thank you!
	
</div>
