<% 
	content_for(:title, 'UTEFA | Home') 
	content_for(:updateid, 'mainpageupdates'	)
	content_for(:footerid, 'infoandrights'	)
%>

<div id = "container"> 	
	<div id="example">
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"> <%=image_tag("slide-2.jpg", :alt => "Slide 2", :style => 'width="570" height="270"') %> </a>
					<div class="caption" style="bottom:0">
						<p>Caption</p>
					</div>
				</div>
				<div class="slide">
					<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"> <%=image_tag("slide-2.jpg", :alt => "Slide 2", :style => 'width="570" height="270"') %> </a>
					<div class="caption">
						<p>Caption</p>
					</div>
				</div>
			</div>
			<a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :style => 'width="24" height="43"') %></a>
			<a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :style => 'width="24" height="43"') %></a>
		</div>
		<%= image_tag("example-frame.png", :alt => "Frame", :style => 'width="739" height="341"', :id => "frame") %>					
	</div>	
</div>		

<div id = "main">`
		<h1>Welcome</h1>				
		<p>The University of Toronto Engineering Finance Association (UTEFA) is an educational organization designed to provide students with extensive knowledge about the financial industry. We believe the best way to learn, whether the student is an experienced investor or completely new to the stock market, is to take risks and to execute actual investments. The usage of real cash and interactive brokers shows our committment and seriousness to making smart, well-informed decisions. That is our philosophy.
		<br></br>
		<h1>Join Us</h1>				
		<p>Our meetings are hosted every Thursday at 8:00AM in WB215. Please email info@UTEFA.com for general inquiries. Thank you.
	
</div>